.container {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  background: white;

  padding: 10px;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardBtn {
  inline-size: max-content;
  color: #000000;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.cardBtn:hover {
  color: #ffffff;
  background-color: #000000;
}

.card_item {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 20px;
  align-items: center;
}

.image {
  inline-size: 30px;
  color: #000000;
}

.title {
  color: #000000;
  font-size: 20px;
}

.subtitle {
  color: #000000;
  font-size: 18px;
}

.text {
  text-align: justify;
  hyphens: auto; /* Включаем автоматический перенос слов */
  word-spacing: normal; /* Устанавливаем стандартное расстояние между словами */
  letter-spacing: normal;
  color: #464646;
}
