.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  font-size: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  display: block;
  inline-size: 70px;
  color: rgb(255, 255, 255);
}

.title {
  color: #424242;
  font-size: 30px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  inline-size: max-content;
  background: white;
  color: #545454;
  padding: 5px;
  border: 1px solid #565656;
  border-radius: 15px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.btn:hover {
  color: #ffffff;
  background-color: #515151;
}

.cardBtn {
  inline-size: max-content;
  color: #00427a;
  padding: 5px;
  border: 1px solid #00427a;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.cardBtn:hover {
  color: #ffffff;
  background-color: #00427a;
}
