.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  padding: 20px;
  background-color: #00427a;
  font-size: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.logo {
  inline-size: 30px;
  color: rgb(255, 255, 255);
}

.title {
  color: #ffffff;
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.btn {
  background: white;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
}
