.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.container {
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.back {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: max-content;
  color: #4f4f4f;
  padding: 5px;
  border: 1px solid #515151;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.back:hover {
  color: #ffffff;
  background-color: #464646;
}

.title {
  font-size: 20px;
  color: #464646;
}

.linkTo {
 color: #464646;
 font-size: 20px;
}

.linkTo:hover {
  text-decoration: underline;
}
