.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #464646;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.text {
  text-align: center;
}

label {
  font-size: 0.95rem;
  font-weight: 500;
}

input,
textarea {
  inline-size: 100%;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  color: black;
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 120, 255, 0.2);
  }
}

.btn {
  inline-size: 100%;
  background: white;
  color: #464646;
  padding: 5px;
  border-radius: 5px;
}


.success {
  color: #2e8b57;
  font-weight: 500;
  margin-top: 20px;
}

.error {
  color: #d9534f;
  font-weight: 500;
  margin-top: 20px;
}
