.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f5f5f5;
  padding-left: clamp(0.625rem, -5.5rem + 30.625vw, 31.25rem);
  padding-right: clamp(0.625rem, -5.5rem + 30.625vw, 31.25rem);
}


