.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: clamp(0.625rem, -5.5rem + 30.625vw, 31.25rem);
  padding-right: clamp(0.625rem, -5.5rem + 30.625vw, 31.25rem);
}

.back {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: max-content;
  color: #424242;
  padding: 5px;
  border: 1px solid #464646;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #464646;
    color: white;
  }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
