.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #00427a;
  background: #e1e1e1;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  text-align: center;
    font-size: 30px;
}

.link {
  color: #00427a;
}

.line {
  inline-size: 100%;
  border-bottom: 1px solid rgb(112, 112, 112);
  text-wrap: wrap;
}

.copyright {
  display: flex;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
  color: rgb(61, 61, 61);
}
