.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #ffffff;
  padding: 10px;
  color: #000000;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); /* Тень направлена вверх */
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.title {
  color: #000000;
  font-size: 30px;
}

.logo {
  inline-size: 80px;
  color: rgb(255, 255, 255);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact {
  display: flex;
  padding: 3px;
  gap: 5px;
  align-items: center;
}

.link {
  color: rgb(0, 0, 0);
}

.line {
  inline-size: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.copyright {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #000000;
}

@media (width < 450px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contacts {
    align-items: center;
  }
}
