.back {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: max-content;
  color: #454545;
  padding: 5px;
  border: 1px solid #454545;
  border-radius: 5px;
  transition: all 0.3s ease;
    &:hover {
    background-color: #464646;
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: clamp(0.625rem, -5.5rem + 30.625vw, 31.25rem);
  padding-right: clamp(0.625rem, -5.5rem + 30.625vw, 31.25rem);
}

.card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  color: #000000;
}

.icon {
  inline-size: 20px;
  color: #454545;
}

.cardTitle {
  font-size: 18px;
  color: #454545;
}

.cardItem {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  align-items: center;
  a {
    color: #454545;
  }
}

.gray {
  color: gray;
}

.icons {
  display: flex;
gap: 10px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: #454545;
  }
}
